.head_button{
    display: flex;
    justify-content: center;
    margin: 2.5rem 0 1.5rem 0;
}
.head_button button{
    color: #3ab049;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-decoration: none;
    padding: .3rem 1.5rem;
    border: .1rem solid #3ab049;
    position: relative;
    transition: all 0.3s linear;
    z-index: 1;
    overflow: hidden;
}
.head_button button::before{
    content: '';
    height: 200%;
    width: 200%;
    background-color: #3ab049;
    position: absolute;
    top:0;
    left: -60%;
    transform: rotate(45deg);
    transform-origin: left;
    transition: all 0.3s linear;
    z-index: -1;
}
.head_button button:hover::before{
    transform: rotate(0deg);
    
}

.head_button button:hover{
    color: #fdf6f0;
}
