.social-modal-main {
    position: fixed;
    background: rgba(179, 179, 179, 0.529);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

.social-modal-contain {
    position: fixed;
    /* max-width: 30rem; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.social-icon:hover{
    opacity: .8;
    transition: all .15s linear;
}